* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #ff9966;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background-color: #3f51b5;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  padding: 0.8rem;
}

nav ul li:hover {
  background-color: deepskyblue;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.sencillo ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 568px) {
  .sencillo ul {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXX----MENU-ICONS-------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.iconos .texto span {
  font-size: 0.8rem;
  display: block; /* colocatr texto abajo */
}

.iconos ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
}

.iconos ul li {
  flex: 1;
}
.iconos ul li a {
  display: flex;
}
.iconos .icono {
  flex: 0 1 2rem;
}
@media screen and (max-width: 480px) {
  .iconos ul {
    display: flex;
    flex-wrap: wrap;
  }
  .iconos ul li {
    flex: 0 1 50%;
  }
}
